.flex-one {
    flex:1;
}
.flex-two {
    flex:2;
}
.flex-three {
    flex:3;
}
.search {
    width: 100%;
}
.search-button {
    width:100%;
    margin: 5px 0px;
}
#button-append {
    width: 100%;
    margin: 5px 0px;
}