* {
  font-family: "Roboto", sans-serif;
}
header {
  font-family: "Open Sans", sans-serif;
}

.flex-one {
  flex: 1;
}
.flex-two {
  flex: 2;
}
.flex-three {
  flex: 3;
}
.search {
  width: 100%;
}
.search-button {
  width: 100%;
  margin: 5px 0px;
}
#button-append {
  width: 100%;
  margin: 5px 0px;
}
.low {
  background: #3ea72d;
}
.moderate {
  background: #fff300;
}
.high {
  background: #f18b00;
}
.very-high {
  background: #e53210;
}
.extreme {
  background: #b567a4;
}
h1 {
  font-size: 3.5rem;
}
.blue {
    background: #1EA6C6
}
