.flex-one {
    flex:1;
}
.flex-two {
    flex:2;
}
.flex-three {
    flex:3;
}
.search {
    width: 100%;
}
.search-button {
    width:100%;
    margin: 5px 0px;
}
#button-append {
    width: 100%;
    margin: 5px 0px;
}
.low {
    background: #3EA72D;
}
.moderate {
    background: #FFF300;    
}
.high {
    background: #F18B00;    
}
.very-high {
    background: #E53210;
}
.extreme {
    background: #B567A4;
}